body {
    height: 300px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
p {
    font-size: 23px;
    margin: 5px;
    font-weight: bold;
}
p#excuse {
    font-style: italic;
    text-transform: capitalize;
}